{% extends "base.html" %}{% load staticfiles %}{% load thumbnail %}{% load cropping %}
{% block title %}Get Involved with Open Science{% endblock %}
{% block description %}The Center for Open Science offers a variety of ways for developers, scientists, journals, and societies to get involved.{% endblock %}
{% block navlinks %}{% with 'get_involved' as nav %}
        {{ block.super }}
{% endwith %}{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static '/static/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>
    <link href="{% static '/static/css/team_circle.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}{% block content %}


<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" id="participate">


<!-- BEGIN CONTAINER -->
    <div class="container min-hight margin-top-50">

    <!-- BEGIN OUR TEAM -->
        <div class="row front-team">
            <h1><strong>Participate in Open Science</strong></h1>
            <p class="lead">COS collaborates with and produces tools for scientists, journals and societies, and developers. Below, explore ways to use our free services or collaborate on promoting open science.</p>
            <!-- BEGIN TABS -->
            <div class="col-md-12">
                <div class="tab-content ">
                <!-- START TAB 1 -->
                <link rel="stylesheet" type="text/css" href="/static/css/ambassadors.css" />
                    <div class="container">
                        <h2><strong>Promote Open Science in Your Community</strong></h2>
                        <p>Researchers in any field can become COS Ambassadors. Sign up to receive information and
                            materials to help you advocate for open science. United, we can increase openness,
                            integrity, and reproducibility across scientific domains.</p>
                        <div class="row">
                              <div class="col-md-8">
                            <h4><b>What Ambassadors Do</b></h4>
                                  <div class="indented col-mid-8">
                                       <ul>
                                            <li>Act as local information resource about COS, the OSF, transparency, and reproducible practices</li>
                                            <li>Represent COS at conferences and meetings</li>
                                            <li>Grow the open science community</li>
                                            <li>Blog experiences and join in the online conversation</li>
                                            <li>Provide training on OSF and reproducible practices</li>
                                            <li>Model COS swag!</li>
                                        </ul>
                                  </div>
                            </div>
                        </div>

                    </div>
                        <div class ="col-md-11">
                        <h3><strong>Ambassadors</strong></h3>
                                {% for image in ambassadors %}
                                    <center><div class="col-md-3">
                                        <a href="{{ image.link }}" target="_blank"><br/>
                                            <div class="circular" style="background: url({% cropped_thumbnail image "mini_image" max_size=image.get_thumb_max_size %}); width: {{ image.thumb_image_width }}px; height: {{ image.thumb_image_height }}px"></div></a>
                                        <h4>{{ image.name }}</h4>
                                        <h5>{{ image.position }}</h5>
                                    </div></center>
                                    {% if forloop.counter|divisibleby:4 %}
                                <br clear="all" />
                                {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript_bottom %}
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->

    <script type="text/javascript" src="{% static 'static/plugins/fancybox/source/jquery.fancybox.pack.js' %}">
    </script>
    <script src="{% static '/static/scripts/app.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>

    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}
