{% extends "base.html" %}{% load staticfiles %}
{% block title %}Get Involved with Open Science{% endblock %}
{% block description %}The Center for Open Science offers a variety of ways for developers, scientists, journals, and societies to get involved.{% endblock %}
{% block navlinks %}{% with 'get_involved' as nav %}
        {{ block.super }}
{% endwith %}{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static '/static/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}{% block content %}


<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" id="participate">


<!-- BEGIN CONTAINER -->
<div class="container min-hight margin-top-50">

<!-- BEGIN CONTENT -->
<div class="row community-content">
<div>
<h1><strong>Participate in Open Science</strong></h1>
<p class="lead">COS collaborates with and produces tools for scientists, journals and societies, and developers. Below, explore ways to use our free services or collaborate on promoting open science.</p>
<!-- BEGIN TABS -->
<div class="margin-top-20">
<div class="col-md-3 col-sm-3 community-tab-list">
    <ul class="tabbable community-tabbable">

        <li class="active"><a href="#tab_1" data-toggle="tab">Scientists</a></li>
        <li><a href="#tab_2" data-toggle="tab">Journals and Societies</a></li>
        <li><a href="#tab_3" data-toggle="tab">Developers</a></li>
    </ul>
</div>
<div class="col-md-9 col-sm-9">
<div class="tab-content ">
<!-- START TAB 1 -->

<!-- END TAB 1 -->
<!-- START TAB 2 -->
<div class="tab-pane active" id="tab_1">
    <div class="col-md-12">
        <h2><strong>Take Steps Towards Transparency</strong></h2>
        <p>COS offers researchers tools and services to make your research better, more efficient, and more reproducible.</p>
    </div>

    <div class="col-md-8">
        <h4><strong>1. Use The Open Science Framework (OSF)</strong></h4>
        <p>OSF is a free, secure web application for project management, collaboration, registration, and archiving.
        Stop losing files, improve collaboration, and integrate OSF projects with the tools you use (e.g., Dropbox, GitHub,
        Figshare, Dataverse). <a href="https://osf.io/svje2/wiki/home/" target="_blank">Learn
            more</a>.</p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="https://osf.io" target="_blank">
            <div class="action-box">
                <i class="fa fa-laptop"></i>
                <p>Sign up for the OSF</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>2. Conduct Reproducible Analyses</strong></h4>
        <p>COS offers free statistical consulting to improve reproducible practices. Get email help on power analysis
         and calculating confidence intervals, individualized hangouts for learning R and GitHub, or schedule a group to
         be trained on OSF. <a href="{% url 'stats_consulting' %}">Read more.</a></p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:stats-consulting@cos.io?subject=Stats Consultation">
            <div class="action-box">
                <i class="fa fa-pencil"></i>
                <p>Request a consultation</p>
            </div>
        </a>
    </div>

     <div class="col-md-8">
        <h4><strong>3. Pre-register your studies</strong></h4>
        <p>Pre-registration on the OSF takes a snapshot of projects with time stamps to facilitate their discovery whether
        they end up being published or not. Pre-registration with analysis plans facilitates strong confirmatory research designs.
        Use the <a href="https://osf.io" target="_blank">OSF to register</a> and learn more about <a href="https://osf.io/47uq9/"
         target="_blank">pre-registration</a> and <a href="http://www.columbia.edu/~mh2245/papers1/PA_2012b.pdf" target="_blank">
         confirmatory analysis</a>.</p>
     </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="https://osf.io/h8sp7/" target="_blank">
            <div class="action-box">
                <i class="fa fa-file-text-o "></i>
                <p>See an example registration</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>4. Signal Open Practices</strong></h4>
        <p>Badges for open practices in publications signal others that researchers value and practice open science.
        Some journals now offer this <a href="https://osf.io/tvyxz/wiki/1.%20View%20the%20Badges/" target="_blank">visual acknowledgement</a> for open data,
         open materials, and preregistration. If a journal you publish in offers badges, apply. If it does not, recommend the badges program to the journal.</p>
    </div>
    <div class="col-md-4 action-link margin-top-50">
        <a href="https://osf.io/tvyxz/wiki/home/" target="_blank">
            <div class="action-box">
                <i class="fa fa-shield"></i>
                <p>Find out how to apply for a badge</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>5. Join a Metascience Project</strong></h4>
        <p>COS facilitates crowd-sourced metascience research. Projects investigate reproducibility, current research practices,
        and evaluate new research practices. Crowdsourcing models encourage inclusivity so that anyone can contribute based
        on their skills, interests, and motivation. <a href="{% url 'communities' %}">Explore the metascience initiatives</a> and
        then email a project coordinator if you'd like to join.</p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:contact@cos.io?subject=Metascience Project Enrollment">
            <div class="action-box">
                <i class="fa fa-envelope"></i>
                <p>Email a Project Coordinator</p>
            </div>
        </a>
    </div>
</div>
<!-- END TAB 2 -->
<!-- START TAB 3 -->
<div class="tab-pane" id="tab_2">
    <div class="col-md-12">
        <h2><strong>Nudge Incentives Towards Openness</strong></h2>
        <p>Journals and societies shape important incentives driving researchers' behavior.  COS supports products and
        services that journals and societies can use to promote open and reproducible practices.</p>
    </div>

    <div class="col-md-8">
        <h4><strong>1. Author Guidelines to Promote Openness and Reproducibility</strong></h4>
        <p>Author guidelines clarify journal standards, recommendations, and requirements. In November 2014, COS hosted a
        meeting of researchers, editors, and funders to identify best practices for promoting openness and reproducibility
        with author guidelines. The forthcoming report will provide recommendations for publishers and societies for their
        journals.
        </p></div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:contact@cos.io?subject=Requesting Author Guidelines">
            <div class="action-box">
                <i class="fa fa-exclamation-circle"></i>
                <p>Alert me when available</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>2. Signal open practices with badges</strong></h4>
        <p>Journals can signal their valuing of open practices by adopting <a href="https://osf.io/tvyxz/wiki/home"
        target="_blank">badges</a> to acknowledge authors of articles that have open data, open materials, or preregistration.
        A COS Community maintains the badge specifications and facilitates integration of badge awarding into the journal
        workflow. Badges are a low risk nudge because adoption by authors is optional, and the simple signal can promote
        normative changes in practice.</p></div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:contact@cos.io?subject=Badges">
            <div class="action-box">
                <i class="fa fa-shield"></i>
                <p>Ask about using badges</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>3. Poster and talk sharing service</strong></h4>
        <p>COS offers a <strong>free</strong> document archiving service for conferences. Any organization can request a specially
            dedicated web page to display all uploaded talks or posters. Conference presenters simply submit their files through
            email and will receive a permanent, persistent URL that links to their work. Download counts and visits to each
            uploaded poster will be recorded. <a href="https://osf.io/view/aps2014/" target="_blank">See how APS 2014 used this service.</a>
        </p></div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:contact@cos.io?subject=Requesting Poster Service">
            <div class="action-box">
                <i class="fa fa-bar-chart"></i>
                <p>Request the sharing service</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>4. Adopt Registered Reports</strong></h4>
        <p>Registered Reports (RR) involve peer review of study designs and analysis plans prior to data collection.
            Reviewers evaluate the importance of the research question and quality of the design. Accepted proposals
            are published if they adhere to the proposal regardless of the outcome. RRs address challenges of publishing
            of negative results, lowers barrier to conducting worthwhile replications, obtains pre-commitment from
            reviewers on quality of design, and produces strong confirmatory tests.</p>
        <p>A COS Community maintains an information commons about RRs, promotes adoption, and evaluates
        publishing model. COS also offers registration services through the <a href="https://osf.io" target="_blank">OSF</a>.
        Journals can adopt Registered Reports as a submission option. See examples of this model in action at <a href="https://osf.io/vwfk2/" target="_blank">
        Social Psychology</a>,
        <a href="http://elifesciences.org/eLife-the-Center-for-Open-Science-and-Science-Exchange-partner-to-assess-the-reproducibility-of-cancer-biology-research"
         target="_blank">eLife</a>, and <a href="http://www.psychologicalscience.org/index.php/replication" target="_blank">Perspectives on
        Psychological Science</a>.
    </p></div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="https://osf.io/zv2cs/" target="_blank">
            <div class="action-box">
                <i class="fa fa-check"></i>
                <p>Learn more about registered reports</p>
            </div>
        </a>
    </div>


</div>
<!-- END TAB 3 -->
<!-- START TAB 4 -->
<div class="tab-pane" id="tab_3">
    <div class="col-md-12">
        <h2><strong>Join Our Open Source Community</strong></h2>
        <p>A natural parallel to open scientific practices is open source software. COS is a Python-based, open source development shop. You can join our mission to bring the core philosophy of open source development to science.</p>
    </div>

    <div class="col-md-8">
        <h4><strong>1. Support Open Science with Open Source Tools</strong></h4>
        <p><a href="https://osf.io" target="_blank">The Open Science Framework (OSF)</a>, the flagship COS platform, is a web
            application that supports research workflow. The OSF supports: archiving and preservation of research materials
            and data, version control for scientific materials, registering projects (tagging a version at a particularly
            important point in the workflow), forking scientific materials and other incentives for sharing and open practice,
            and integration or linking of services through APIs.</p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="https://github.com/centerforopenscience" target="_blank">
            <div class="action-box">
                <i class="fa fa-github"></i>
                <p>Visit our projects on Github</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>2. Contribute to an Open Source Project</strong></h4>
        <p>Developers can contribute to maturing projects like OSF, or to new projects such as:
            <a href="http://scinet.osf.io/" target="_blank"> SciNet</a>, a tool for
            extracting citation meta-data from HTML articles viewed in the browser;
            <a href="https://github.com/CenterForOpenScience/pydocx" target="_blank">Pydocx</a>, a parser that provides
            roundtrip conversion of .docx files to other formats such as LaTeX;
            <a href="https://github.com/jmcarp/sciparse" target="_blank">SciParse</a>, tools for parsing references from
            HTML snippets, and from JSON data structures generated by the Citelet; or
            <a href="https://github.com/CenterForOpenScience/hgrid" target="_blank">HGrid</a>, a web-based file
            management system integrating DropzoneJS and SlickGridJS.</p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="mailto:contact@cos.io?subject=Supporting Open Source Development">
            <div class="action-box">
                <i class="fa fa-comments"></i>
                <p>Find out how to contribute</p>
            </div>
        </a>
    </div>

    <div class="col-md-8">
        <h4><strong>3. Join Our Team</strong></h4>
        <p><i>Developers.</i> We love open source, science, databases, web/API development, content management systems,
            and Python. You should too. If so, please submit a resume and cover letter via our jobs page. Questions about
            the position and COS are welcome and can be sent to <a href="mailto:jobs@cos.io?subject=Join Our Team">jobs@cos.io.</a></p>
        <p><i>Developer internships.</i> Same as above but in summer or part-time internship form; students will work
            with our developers and carve out their own open science project. Please submit a resume and cover letter
            via <a href="/jobs" target="_blank">our jobs page</a>. Questions about the position and COS are welcome and can be sent to
            <a href="mailto:jobs@cos.io?subject=Join Our Team">jobs@cos.io.</a></p>
    </div>

    <div class="col-md-4 action-link margin-top-50">
        <a href="/jobs" target="_blank">
            <div class="action-box">
                <i class="fa fa-briefcase"></i>
                <p>Discover open positions</p>
            </div>
        </a>
    </div>


</div>
<!-- END TAB 4 -->
{###<!-- BEGIN TAB 5 -->#}
{###<div class="tab-pane" id="tab_5">#}
{###    <div class="col-md-12">#}
{###        <h2>Respond to a Call for Proposals</h2>#}
{###        <p>The Center for Open Science (COS) occasionally invites grant proposals to increase the openness, integrity,#}
{###            and reproducibility of scientific research. Presently, we are not accepting grant proposals.</p>#}
{###        <p>When being accepted, proposals can aim to:</p>#}
{###        <ol>#}
{###            <li>Create or connect open science infrastructure</li>#}
{###            <li>Enable or incentivize new practices by scientists, societies, journals, funders, libraries, or other stakeholders in science, or#}
{###            <li>Conduct metascience research with implications for improving scientific practices</li>#}
{###        </ol>#}
{###        <p>Project proposals are solutions-oriented.  COS does not fund meetings to write more academic papers suggesting#}
{###            that someone should do something.  COS funds projects that are ready to act.</p>#}
{###        <p>Projects can be proof-of-concept to large-scale implementation.  There is no set budget limit.  However,#}
{###            approvable budget size is strongly correlated with potential project impact.</p>#}
{###        <p>Projects that develop new innovations, attempt novel solutions, and directly address improving incentives in#}
{###            science for promoting accuracy and knowledge-building are encouraged. Projects that are “safe bets” or already#}
{###            in use in other areas of science are discouraged.  Finally, projects that#}
{###            can scale or be extended across scientific disciplines are preferred to those that have a “low ceiling” or#}
{###            are disciplinary-specific.</p>#}
{####}
{###    </div>#}
{###</div>#}
{###<!-- END TAB 5 -->#}
</div>
</div>
</div>
<!-- END TABS -->
</div>
</div>
<!-- END COS COMMUNITIES -->

<div>


</div>
<!-- END CONTENT -->


</div>
<!-- END CONTAINER -->




</div>
<!-- END PAGE CONTAINER -->
{% endblock %}


{% block javascript_bottom %}
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="{% static '/sttaic/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'static/scripts/app.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var tab = location.hash.slice(1,6);
            var availableTabs = ['tab_1', 'tab_2', 'tab_3', 'tab_4', 'tab_5'];
            if(tab && availableTabs.indexOf(tab) !== -1){
{#            ## remove active classes from tabs#}
            $(".tabbable > li").removeClass("active");
                $(".tab-pane").removeClass("active");

{#            ## add active class to appropriate tab#}
            $("a[href='#"+tab+"'").parent().addClass("active");
                $("#"+tab).addClass("active");
            }

        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}
