{% extends "base.html" %}{% load staticfiles %}{% load thumbnail %}{% load cropping %}
{% block title %}Get Involved with Open Science{% endblock %}
{% block description %}The Center for Open Science offers a variety of ways for developers, scientists, journals, and societies to get involved.{% endblock %}
{% block navlinks %}{% with 'get_involved' as nav %}
        {{ block.super }}
{% endwith %}{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
    <link href="{% static 'css/team_circle.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <style>
    .ambassador-list li{
        list-style-type: disc!important;
    }
    </style>
{% endblock %}
{% block main %}
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" id="participate">
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight margin-top-50">

    <!-- BEGIN CONTENT -->
        <div class="row community-content">
            <div>
                <h1><strong>Participate in Open Science</strong></h1>
                <p class="lead">COS collaborates with and produces tools for scientists, journals and societies, and developers. Below, explore ways to use our free services or collaborate on promoting open science.</p>
                <!-- BEGIN TABS -->
                <div class="margin-top-20">
                    <div class="col-md-3 col-sm-3 community-tab-list">
                        <ul class="tabbable community-tabbable">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Ambassadors</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Scientists</a></li>
                            <li><a href="#tab_4" data-toggle="tab">Developers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="tab-content ">
                            <!-- START TAB 1 -->
                            <div class="tab-pane active" id="tab_1">
                                <div class="container" style="width:inherit;">
                                    <div class="col-md-8">
                                        <h2><strong>Promote Open Science in Your Community</strong></h2>
                                        <p>Researchers in any field can become COS Ambassadors. Sign up to receive information and
                                        materials to help you advocate for open science. United, we can increase openness,
                                        integrity, and reproducibility across scientific domains.</p>
                                    </div>
                                    <div class="col-md-8">
                                        <h4><b>What Ambassadors Do</b></h4>
                                        <ul class="ambassador-list">
                                            <li>Act as local information resource about COS, the OSF, transparency, and reproducible practices</li>
                                            <li>Represent COS at conferences and meetings</li>
                                            <li>Grow the open science community</li>
                                            <li>Blog experiences and join in the online conversation</li>
                                            <li>Provide training on OSF and reproducible practices</li>
                                            <li>Model COS swag!</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h3><strong>Ambassadors</strong></h3>
                                        {% for image in ambassadors %}
                                            <center><div class="col-md-4">
                                                <a href="{{ image.link }}" target="_blank"><br/>
                                                    <div class="circular" style="background: url({% cropped_thumbnail image "mini_image" max_size=image.get_thumb_max_size %}); width: {{ image.thumb_image_width }}px; height: {{ image.thumb_image_height }}px"></div></a>
                                                <h4>{{ image.name }}</h4>
                                                <h5>{{ image.position }}</h5>
                                            </div></center>
                                            {% if forloop.counter|divisibleby:3 %}
                                                <br clear="all" />
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- END TAB 1 -->
                            <!-- START TAB 2 -->
                            <div class="tab-pane" id="tab_2">
                                <div class="col-md-12">
                                    <h2><strong>Take Steps Towards Transparency</strong></h2>
                                    <p>COS offers researchers tools and services to make your research better, more efficient, and more reproducible.</p>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>1. Use The Open Science Framework (OSF)</strong></h4>
                                    <p>OSF is a free, secure web application for project management, collaboration, registration, and archiving.
                                        Stop losing files, improve collaboration, and integrate OSF projects with the tools you use (e.g., Dropbox, GitHub,
                                        Figshare, Dataverse). <a href="https://osf.io/svje2/wiki/home/" target="_blank">Learn
                                            more</a>.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="https://osf.io" target="_blank">
                                        <div class="action-box">
                                            <i class="fa fa-laptop"></i>
                                            <p>Sign up for the OSF</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>2. Conduct Reproducible Analyses</strong></h4>
                                    <p>COS offers free statistical consulting to improve reproducible practices. Get email help on power analysis
                                        and calculating confidence intervals, individualized hangouts for learning R and GitHub, or schedule a group to
                                        be trained on OSF. <a href="{% url 'stats_consulting' %}">Read more.</a></p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="mailto:stats-consulting@cos.io?subject=Stats Consultation">
                                        <div class="action-box">
                                            <i class="fa fa-pencil"></i>
                                            <p>Request a consultation</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>3. Pre-register your studies</strong></h4>
                                    <p>Pre-registration on the OSF takes a snapshot of projects with time stamps to facilitate their discovery whether
                                        they end up being published or not. Pre-registration with analysis plans facilitates strong confirmatory research designs.
                                        Use the <a href="https://osf.io" target="_blank">OSF to register</a> and learn more about <a href="https://osf.io/47uq9/"
                                                                                                                                     target="_blank">pre-registration</a> and <a href="http://www.columbia.edu/~mh2245/papers1/PA_2012b.pdf" target="_blank">
                                            confirmatory analysis</a>.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="https://osf.io/scayl/" target="_blank">
                                        <div class="action-box">
                                            <i class="fa fa-file-text-o "></i>
                                            <p>See an example registration</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>4. Signal Open Practices</strong></h4>
                                    <p>Badges for open practices in publications signal others that researchers value and practice open science.
                                        Some journals now offer this <a href="https://osf.io/tvyxz/wiki/1.%20View%20the%20Badges/" target="_blank">visual acknowledgement</a> for open data,
                                        open materials, and preregistration. If a journal you publish in offers badges, apply. If it does not, recommend the badges program to the journal.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="https://osf.io/tvyxz/wiki/home/" target="_blank">
                                        <div class="action-box">
                                            <i class="fa fa-shield"></i>
                                            <p>Find out how to apply for a badge</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>5. Share your presentations, materials, and data</strong></h4>
                                    <p>Greater transparency means that more questions can be answered with existing data. Many openly
                                        available datasets can be found on the <a href="https://osf.io">Open Science Framework</a>; the
                                        <a href="https://osf.io/ezcuj/">Reproducibility Project: Psychology</a>, for example, has made its data public.
                                        You can make yours public via the <a href="https://osf.io">OSF</a>. <a href="https://osf.io/meetings">OSF for Meetings</a> enables you to share slides
                                        or posters before or after a conference. Encourage your conference organizer to have it set up, or <a href="mailto:contact@cos.io?subject=Meetings">request it yourself</a>.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="mailto:contact@cos.io?subject=Meetings">
                                        <div class="action-box">
                                            <i class="fa fa-bar-chart"></i>
                                            <p>Request OSF for Meetings</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- END TAB 2 -->
                            <!-- START TAB 4 -->
                            <div class="tab-pane" id="tab_4">
                                <div class="col-md-12">
                                    <h2><strong>Join Our Open Source Community</strong></h2>
                                    <p>A natural parallel to open scientific practices is open source software. COS is a Python-based, open source development shop. You can join our mission to bring the core philosophy of open source development to science.</p>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>1. Support Open Science with Open Source Tools</strong></h4>
                                    <p><a href="https://osf.io" target="_blank">The Open Science Framework (OSF)</a>, the flagship COS platform, is a web
                                        application that supports research workflow. The OSF supports: archiving and preservation of research materials
                                        and data, version control for scientific materials, registering projects (tagging a version at a particularly
                                        important point in the workflow), forking scientific materials and other incentives for sharing and open practice,
                                        and integration or linking of services through APIs.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="https://github.com/centerforopenscience" target="_blank">
                                        <div class="action-box">
                                            <i class="fa fa-github"></i>
                                            <p>Visit our projects on Github</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>2. Contribute to an Open Source Project</strong></h4>
                                    <p>Developers can contribute to maturing projects like OSF, or to new projects such as:
                                        <a href="http://scinet.osf.io/" target="_blank"> SciNet</a>, a tool for
                                        extracting citation meta-data from HTML articles viewed in the browser;
                                        <a href="https://github.com/CenterForOpenScience/pydocx" target="_blank">Pydocx</a>, a parser that provides
                                        roundtrip conversion of .docx files to other formats such as LaTeX;
                                        <a href="https://github.com/jmcarp/sciparse" target="_blank">SciParse</a>, tools for parsing references from
                                        HTML snippets, and from JSON data structures generated by the Citelet; or
                                        <a href="https://github.com/CenterForOpenScience/hgrid" target="_blank">HGrid</a>, a web-based file
                                        management system integrating DropzoneJS and SlickGridJS.</p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="mailto:contact@cos.io?subject=Supporting Open Source Development">
                                        <div class="action-box">
                                            <i class="fa fa-comments"></i>
                                            <p>Find out how to contribute</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-8">
                                    <h4><strong>3. Join Our Team</strong></h4>
                                    <p><i>Developers.</i> We love open source, science, databases, web/API development, content management systems,
                                        and Python. You should too. If so, please submit a resume and cover letter via our jobs page. Questions about
                                        the position and COS are welcome and can be sent to <a href="mailto:jobs@cos.io?subject=Join Our Team">jobs@cos.io.</a></p>
                                    <p><i>Developer internships.</i> Same as above but in summer or part-time internship form; students will work
                                        with our developers and carve out their own open science project. Please submit a resume and cover letter
                                        via <a href="{% url 'jobs' %}" target="_blank">our jobs page</a>. Questions about the position and COS are welcome and can be sent to
                                        <a href="mailto:jobs@cos.io?subject=Join Our Team">jobs@cos.io.</a></p>
                                </div>

                                <div class="col-md-4 action-link margin-top-50">
                                    <a href="{% url 'jobs' %}" target="_blank">
                                        <div class="action-box">
                                            <i class="fa fa-briefcase"></i>
                                            <p>Discover open positions</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- END TAB 4 -->
                        </div>
                    </div>
                </div>
            <!-- END TABS -->
            </div>
        </div>
        <!-- END COS COMMUNITIES -->
        <div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
</div>
<!-- END CONTAINER -->
{% endblock %}


{% block javascript_bottom %}
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="{% static 'bower_components/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var tab = location.hash.slice(1,6);
            var availableTabs = ['tab_1', 'tab_2', 'tab_3', 'tab_4', 'tab_5'];
            if(tab && availableTabs.indexOf(tab) !== -1){
{#            remove active classes from tabs#}
            $(".tabbable > li").removeClass("active");
                $(".tab-pane").removeClass("active");
{#            add active class to appropriate tab#}
            $("a[href='#"+tab+"']").parent().addClass("active");
                $("#"+tab).addClass("active");
            }
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}
