{% extends "base.html" %}{% load staticfiles %}
{% block title %}Jobs{% endblock %}
{% block description %}Open job positions at the Center for Open Science{% endblock %}


{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}

{% block navlinks %}{% with 'get_involved' as nav %}
        {{ block.super }}
{% endwith %}{% endblock %}{% block content %}

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTAINER -->
    <div class="container  margin-bottom-40 margin-top-50">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN INFO BLOCK -->
            <!--BEGIN OPPORTUNITIES -->
            <h1><strong>Open Positions</strong></h1>
            <p class="lead">COS is looking for open science enthusiasts to join our team. Openness means inclusivity: the Center for Open Science is an equal opportunity employer and strongly encourages applications from members of groups underrepresented in science and technology industries.</p>
            {% for jobs in current_job %}
            <div id="Developer" class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading" class="accordion-toggle" data-toggle="collapse" href="#Developer_heading">
                        <h4 class="panel-title">
                            <span class="chevron"> <span class="glyphicon glyphicon-chevron-right"></span> </span>
                            <a data-parent="#Developer">
                                {{ jobs.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="Developer" class="panel-collapse collapse">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                            {% for entry in jobs.entries.all %}
                                    <dt>{{ entry.section | safe}}</dt>
                                    <dd>{{ entry.description | safe}}</dd>
                            {% endfor %}
                             </dl>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for jobs in past_job %}
            {% endfor %}
            <!--END OPPORTUNITIES -->
            <br><br>
            <p>Check out our <a href="https://github.com/CenterForOpenScience/Employee-Manual">Employee Manual</a> and <a href="https://github.com/CenterForOpenScience/Policies-and-Procedures">Policies and Procedures</a> for more information.</p>

            <a id = "benefits"></a>
            <h3><br><strong>What we do</strong></h3><br><br>
            <div style="text-align:center"><iframe width="800" height="500" src="https://www.youtube.com/embed/LJDOr5LIB38" frameborder="0" allowfullscreen></iframe></div>

            <table><tr><td width="14%"></td><td width="72%"><p><strong>We work on the cutting edge of open source software. We are mission driven </strong>-- increasing openness and reproducibility in scientific research by building tools, forming community projects, and conducting open, crowdsourced research. We are facilitating positive changes to the scientific culture and reward structure. Read an <a href="http://www.washingtonpost.com/national/health-science/the-new-scientific-revolution-reproducibility-at-last/2015/01/27/ed5f2076-9546-11e4-927a-4fa2638cd1b0_story.html" target="_blank">article in the Washington Post</a> about us!</p></td><td width="14%"></td></tr></table>
            <br>

            <div class="row">
                <div class="whatWeDo">
                    <ul class="list-unstyled">
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/collaborate.png);"></div></a>
                            <div>
                                <center><h3>Collaborate.</h3></center>
                                <p>The Center places a high value on developing skills and partnerships. <strong>Teamwork</strong>, pair programming, collaboration internally and externally are <strong>daily practice</strong>.</p>
                            </div>
                        </li>
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/Food.png);"></div></a>
                            <div>
                                <center><h3>Eat well.</h3></center>
                                <p><strong>Keep your energy up</strong> with your favorite drinks and snacks from the fully stocked kitchen. Enjoy catered lunches from local restaurants twice a week.</p>
                            </div>
                        </li>
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/GetFit.png);"></div></a>
                            <div>
                                <center><h3>Get fit.</h3></center>
                                <p>All full-time employees receive health, dental, and vision insurance. We promote our own<strong> health and well-being</strong> with stand-up and exercise desks, access to an on-site gym, and the great biking and hiking access in the community.</p>
                            </div>
                        </li>
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/Comfortable.png);"></div></a>
                            <div>
                                <center><h3>Keep comfortable.</h3></center>
                                <p>We take our work seriously, and work best in a casual environment - casual dress,<strong> bean bag chairs</strong>, high-quality workspaces, and an open, non-hierarchical floor plan.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="whatWeDo">
                    <ul class="list-unstyled">
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/Computer.png);"></div></a>
                            <div>
                                <center><h3>Get a Mac.</h3></center>
                                <p>All full-time employees receive an <strong>Apple laptop</strong> of their choice and a workstation with 27” screen.</p>
                            </div>
                        </li>
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/Plan.png);"></div></a>
                            <div>
                                <center><h3>Plan for the future.</h3></center>
                                <p>We’ll help you set up your 401k, and <strong>COS contributes up to 4% matches.</strong></p>
                            </div>
                        </li>
                        <li class="col-md-3 space-mobile">
                            <a><div class="photoSwitch" style="background-image: url(/static/img/photos/Hover_Photos/View.jpg);"></div></a>
                            <div class="whatWeDo-perks">
                                <h3>Enjoy the view.</h3>
                                <p>The modern and stylish COS offices are located in the <strong>heart of Charlottesville</strong> on the downtown pedestrian mall. Central Virginia and the Shenandoah mountains are right outside!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a id = "location"></a>
            <h3><strong>Where we live</strong></h3>
            <p>From hikes and rides atop the peaks of the Blue Ridge Mountains, to navigating the taps of the BrewRidge Trail, Charlottesville boasts both urban culture and rural adventure. The pedestrian mall downtown offers local shopping, a range of restaurants from French fine dining to sushi rolls to take-away crepes, weekend farmer’s markets, and a music scene to suit tastes for both jazz piano and garage rock.</p>
            <p>Steeped with history, Charlottesville and the surrounding area offers many landmarks of its own. To branch out beyond the local without leaving the city, however, there are museums like the Kluge-Ruhe Aboriginal Art Museum and the Special Collections Library at UVA. And, if you want to get out of town, DC is just two hours away and the state capital, Richmond, is a mere one-hour drive.</p>
            <p>See why the <a href="http://travel.nytimes.com/2008/10/26/travel/26hours.html?pagewanted=all">New York Times loves Charlottesville!</a> Read this <a href="http://www.theguardian.com/world/2014/jul/27/happiness-place-called-charlottesville-virginia">article in The Guardian</a> about Charlottesville's great community. Or, check out the <a href="http://www.c-ville.com/events/">local events calendar.</a></p>
        </div>
        <div class="spacer"></div>
        <!-- END INFO BLOCK -->
    </div>
</div>

<!-- END CONTAINER -->


<!-- END PAGE CONTAINER -->

{% endblock %}
{% block javascript_bottom %}
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="{% static 'bower_components/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{% static 'bower_components/gmaps/gmaps.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/contact-us.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            ContactUs.init();

            $('.panel-heading').click(function(){
                var el = $(this);
                if(el.parents('.panel').find('.panel-collapse').hasClass('in')){
                    el.find('.chevron').html('<span class="glyphicon glyphicon-chevron-right"></span>');
                    el.siblings('.panel-collapse').collapse('hide');
                }
                else {
                    el.find('.chevron').html('<span class="glyphicon glyphicon-chevron-down"></span>');
                    el.siblings('.panel-collapse').collapse('show');
                }
            });
        });
    </script>
{#    <script type="text/javascript">#}
{#        function collapsingPanel()#}
{#        {#}
{#          var el = $(this);#}
{#                if(el.parents('.panel').find('.panel-collapse').hasClass('collapse')){#}
{#                    el.find('.chevron').html('<span class="glyphicon glyphicon-chevron-down"></span>');#}
{#                    el.siblings('.panel-collapse').collapse('show');#}
{#                }#}
{#                else {#}
{#                    el.find('.chevron').html('<span class="glyphicon glyphicon-chevron-right"></span>');#}
{#                    el.siblings('.panel-collapse').collapse('hide');#}
{#                }  #}
{#        }#}
{#    </script>#}
    <script type="text/javascript">
        $(document).ready(function () {
            location.hash && $(location.hash + '.collapse').collapse('show');
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}
