{% extends "base.html" %}
{% block title %}Open Science Framework{% endblock %}
{% block description %}Center for Open Science has tools and grants for scientists.{% endblock %}

{% block navlinks %}{% with 'OSF' as nav %}
        {{ block.super }}
    {% endwith %}{% endblock %}

{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}{% block main %}


<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

    <!-- BEGIN CONTAINER -->
    <div class="container min-hight margin-top-50 col-md-12">

        <h1 class="center">Open Science Framework</h1>
        <div class="col-md-12 margin-top-50 margin-bottom-50 osf-about">
            <div class="col-md-8 col-sm-12 center">
                <img src="{% static 'img/pics/lifecycle.jpg' %}" style="max-width: 450px"/>
                <h3>The OSF supports the entire research lifecycle: planning, execution, reporting, archiving, and discovery.</h3>

                <p>It provides project management with collaborators, and project sharing with the public.
                    The OSF is maintained by the non-profit Center for Open Science.</p>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-12 action-list">
                <div class="action-list-head">
                    <h2>Three ways to try out the OSF:</h2>
                </div>
                <a href="https://osf.io/account/"><h4><span class="blue">Sign up</span> for your free account</h4></a>
                <a href="https://osf.io/getting-started/"><h4><span class="blue">Learn how</span> an OSF project can organize your work</h4></a>
                <a href="https://osf.io/explore/activity/"><h4><span class="blue">Discover</span> publicly visible research</h4></a>
            </div>
        </div>
        <div class="col-md-12 margin-top-50 margin-bottom-50 osf-connect">
            <div class="col-md-8">
                <h3 class="center">Connect with tools you already use</h3>
                <p>With the OSF you can link tools like Dropbox, Github, and Zotero to your projects, centralizing your work
                    and making it easy to share with collaborators or other scientists.</p>
                <ul class="image-row">
                    <li><img src="{% static 'img/icons/osf-connections/dropbox.png' %}" alt="Dropbox logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/as3.png' %}" alt="Amazon S3 logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/dataverse_project_logo.png' %}" alt="Dataverse logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/drive_icon.png' %}" alt="Google Drive logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/logo-mendeley.png' %}" alt="Mendeley logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/Octocat.png' %}" alt="Github Logo"></li>
                    <li><img src="{% static 'img/icons/osf-connections/zotero.png' %}" alt="Zotero logo"></li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-12 action-list">
                    <div class="action-list-head">
                        <h2>  <i class="fa fa-comment-o"></i> Want to hear more?</h2>
                    </div>
                    <a href="mailto:contact@osf.io">
                        <h4><span class="blue">Email us</span> to schedule a help session or tutorial for you and your collaborators.</h4>
                    </a>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-50">
            <div class="osf-reviews">
                <h3 class="center margin-bottom-20">What people say about the OSF</h3>
                <div class="reviews">
                    <div class="col-md-6 col-sm-12">
                        <blockquote>
                            <h4>The OSF has revolutionized my ability to manage multiple research projects as part of my teaching workload.</h4>
                            <p>-<a href="https://osf.io/z7mt6/">Anne Allison</a>, Associate Professor of Biology, Piedmont Virginia Community College</p>
                        </blockquote>
                        <blockquote class="margin-top-40">
                            <h4>The OSF makes version control effortless. My PI, labmates, and I have access to previous versions of a file at any time - and the most current version is readily available.</h4>
                            <p>-<a href="https://osf.io/gqx2h/">Erica Baranski</a>, PhD Student, UC Riverside</p>
                        </blockquote>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <blockquote>
                            <h4>The OSF is an effective tool to help our students understand and apply sound data management principles to their work.</h4>
                            <p>-<a href="https://osf.io/c8p6s/">Norm Medeiros</a> and <a href="https://osf.io/jdstq/">Richard Ball</a>, Project TIER, Haverford College</p>
                        </blockquote>
                        <blockquote class="margin-top-40">
                            <h4>The OSF has improved our research workflow. Having an authoritative version of our files available to all members of the project is great.</h4>
                            <p>-<a href="https://osf.io/e5cjd/">Rodrigo Garcia</a>, Head of Bioinformatics, National Institute of Genomic Medicine, Mexico</p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
<!-- END PAGE CONTAINER -->
<!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
{% block javascript_bottom %}
    <script type="text/javascript" src="{% static 'bower_components/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
{% endblock %}