{% load wagtailcore_tags %}
<div style="border: 1px solid gray;">
    <div style = "margin: 10px 10px 10px 10px">
        {% if help_text %}
            <div class="object-help help">{{ help_text }}</div>
        {% endif %}

        <div>
            <span class='tabs-label'>Entry Title</span>
            {{ children.title.render_form }}
        </div>
    </div>
    <div style = "margin: 10px 10px 10px 10px">
        <span class="tabs-label">Content</span>
        {{ children.content.render_form|richtext }}
    </div>
</div>
