
<style>
.column-block {
    width: 100%;    
    overflow: hidden;
}

.column-block-header {
    width: 100%;    
    overflow: hidden;
    padding-bottom: 15px;
}

.column-label {
    font-size: 14px;
    font-weight: 600;
}

.column-size-chooser-wrapper {
    width: 180px;
}

.column-block select {
    padding: 5px 10px;
}

.column-block .choice_field .input select ~ span:after {
    font-size: 1.6em;
    line-height: 1.58em;
}

.column-content-stream-wrapper {
    margin-top: 35px;
}

.column-content-stream-wrapper > .sequence-container > .sequence-container-inner ul > li > .sequence-member-inner {
    padding:5px 10px;
    width: auto;
}

.column-content-stream-wrapper .stream-menu {
    margin: 0 10px;
    border-radius:5px;
}

</style>

<div class="column-block">
    <div class="column-block-header">
        {% if help_text %}
            <div class="object-help help">{{ help_text }}</div>
        {% endif %}

        <div class='column-size-chooser-wrapper'>
            <span class='column-label'>Column Size</span>
            {{ children.column_size.render_form }}
        </div>


    </div>
    <div class='column-content-stream-wrapper'>
        {{ children.content.render_form  }}
    </div>
</div>
