{% extends "wagtailadmin/skeleton.html" %}
{% load staticfiles wagtailadmin_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css' %}" />
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery.tagit.css' %}">
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}" type="text/css" />
    {% hook_output 'insert_global_admin_css' %}


    {% block extra_css %}
    {% endblock %}
{% endblock %}

{% block branding_favicon %}
    <link rel="shortcut icon" href="{% static 'wagtailadmin/images/favicon.ico' %}" />
{% endblock %}

{% block js %}

    <style>
    .stream-menu li {
        width: 100px;
    }
    </style>

    <script src="{% static 'wagtailadmin/js/vendor/jquery-2.2.1.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery-ui-1.10.3.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.autosize.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-transition.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-modal.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-tab.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.dlmenu.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/tag-it.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/core.js' %}"></script>
    {% hook_output 'insert_global_admin_js' %}

    {% main_nav_js %}

    {% block extra_js %}
        <script type="text/javascript">

        $(document).ready(function () {


            
            $('#id_external_link').parent().parent().parent().parent().parent().parent().parent().css('display', "None");
            
            $('#id_body').parent().parent().parent().parent().parent().parent().parent().css('display', "None");

            var radio= "<li class = \"object required\"><h2><label>Next Step</label></h2><fieldset><form id=\"formInArticlePage\"><div class=\"radio\"><label><input type=\"radio\" name=\"bodyOrIntro\" value=\"body\"> Body</label></div><div class=\"radio\"><label><input type=\"radio\" name=\"bodyOrIntro\" value=\"link\"> External Link</label><br></div></form></fieldset></li>";

            $('#id_intro').parent().parent().parent().parent().parent().parent().parent().after(radio);

            $('#formInArticlePage input').on('change', function(){
                var selectedVar = $('input[name=bodyOrIntro]:checked', '#formInArticlePage').val();
                if(selectedVar == "body"){
                    $('#id_body').parent().parent().parent().parent().parent().parent().parent().css('display', "");
                    $('#id_external_link').parent().parent().parent().parent().parent().parent().parent().css('display', "None");
                }
                else{
                    $('#id_external_link').parent().parent().parent().parent().parent().parent().parent().css('display', "");
                    $('#id_body').parent().parent().parent().parent().parent().parent().parent().css('display', "None");
                }
            });


        })

        </script>

    {% endblock %}
{% endblock %}