beautifulsoup4==4.1.3
bleach==1.4.1
Django==1.7.6
django-admin-sortable==1.8.3
django-appconf==1.0.1
django-ckeditor==4.4.8
django-email-obfuscator==0.1.4
django-extensions==1.5.5
django-extlog==0.8
django-image-cropping==1.0.1
django-nested-inline==0.3.4
easy-thumbnails==2.2
filebrowser-safe==0.3.8
future==0.9.0
grappelli-safe==0.3.13
html5lib==0.99999
Mezzanine==3.1.10
oauthlib==0.7.2
Pillow==2.8.1
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
tzlocal==1.0
