<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCvuAERNLWJBDDaUkuT9cZaTKLtyGXmIiI"></script>
<div class="row" id="footer-map" style="{{ value.css_style }} height:240px; width:100%;">
    <div id="map-container" height="240px" width="100%"></div>
</div>
<br />
<small>View <a id="view-map" href=""> {{ self.address }}</a> in a larger map</small>

<script type="text/javascript">// <![(DATA[
var mapOptions = {
    zoom: 16,
    center: new google.maps.LatLng(54.00, -3.00),
    mapTypeId: google.maps.MapTypeId.ROADMAP
};

var geocoder = new google.maps.Geocoder();

var address = "{{ self.address }}";

var url = "https://maps.google.com/?q=" + encodeURIComponent("{{ self.address }}");

document.getElementById("view-map").setAttribute('href', url);

geocoder.geocode({ 'address': address }, function(results, status) {
    map.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
    });
});
var map = new google.maps.Map(document.getElementById("footer-map"), mapOptions);

// ]]></script>
