{% load wagtailcore_tags %}
{% if value.displayStyle == 'participating journals' %}
<ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#rrjournals"><b>Journals that have adopted Registered Reports</b></a></li>
      <li><a data-toggle="tab" href="#specialissues"><b>Special Issues</b></a></li>
      <li><a data-toggle="tab" href="#some"><b>Some Features</b></a></li>
</ul>
<div class="tab-content">
    <div id="rrjournals" class="tab-pane fade active in">
        <table data-toggle="table" data-url="/static/rrjournals.json" >
            <thead>
                <th class="col-md-7" style="" data-field="Journal">
                    <div class="th-inner ">Journal</div>
                </th>
                <th class="col-md-5" style="" data-field="Notes">
                    <div class="th-inner ">Notes</div>
                </th>
            </thead>
        </table>
    </div>
    <div id="specialissues" class="tab-pane fade">
        <table data-toggle="table" data-url="/static/rrjournalsspecial.json">
            <thead>
                <th class="col-md-7" style="" data-field="Journal">
                    <div class="th-inner ">Journal</div>
                </th>
                <th class="col-md-5" style="" data-field="Notes">
                    <div class="th-inner ">Notes</div>
                </th>
            </thead>
        </table>
    </div>
    <div id="some" class="tab-pane fade">
        <table data-toggle="table" data-url="/static/rrjournalssome.json">
            <thead>
                <th class="col-md-7" style="" data-field="Journal">
                    <div class="th-inner ">Journal</div>
                </th>
                <th class="col-md-5" style="" data-field="Notes">
                    <div class="th-inner ">Notes</div>
                </th>
            </thead>
        </table>
    </div>
</div>

{% elif value.displayStyle == 'journals signatory' %}
<ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#journals"><b>Journals</b></a></li>
      <li><a data-toggle="tab" href="#organizations"><b>Organizations</b></a></li>
</ul>
<div class="tab-content">
    <div id="journals" class="tab-pane fade in active">
        <table data-toggle="table" data-url="/static/topjournals.json" data-height="799" data-search="true">
            <thead>
                <th data-field="Journal Title" data-sortable="true" class="col-md-4">Journal Title</th>
                <th data-field="Publisher" data-sortable="true" class="col-md-2">Publisher</th>
                <th data-field="Association" data-sortable="true" class="col-md-2">Society/Association Affiliation</th>
                <th data-field="Subject Area" data-sortable="true" class="col-md-2">Subject Area</th>
            </thead>
        </table>
    </div>
    <div id="organizations" class="tab-pane fade">
        <table data-toggle="table" data-url="/static/togorgs.json" data-height="799" data-sort-order="asc" data-search="true">
            <thead>
                <tr>
                    <th data-field="Organization" data-sortable="true">Organization</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% else %}
    <table data-toggle="table" data-url="/static/preregjournals.json" data-height="799" data-search="true" class="table table-hover" style="margin-top: -40px;">
        <thead>
            <tr>
                <th class="col-md-4" style="" data-field="Journal Title" data-sortable="true">Journal Title</th>
                <th class="col-md-2" style="" data-field="Publisher" data-sortable="true">Publisher</th>
                <th class="col-md-2" style="" data-field="Association" data-sortable="true">Society Affiliation</th>
                <th class="col-md-2" style="" data-field="Subject Area" data-sortable="true">Subject Area</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endif %}
