{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}
{% load wagtailimages_tags %}
{% load static %}

{% if value.displayStyle == 'concise-team' %}
    <div class = "row front-team">
        <ul class="list-unstyled" id="whoWeAre">
        {% for person in people %}
            {% if value.tag in person.tags.names %}
                    <li class="col-md-3">
                        <div class="thumbnail">
                            {% if person.photo %}
                                {% image person.photo original as photo %}
                                <img src="{{ photo.url }}" alt="{{ person.first_name }} {{ person.last_name }}">
                            {% else %}
                                <img src="{% static 'anonymous.png' %}" alt="{{ person.first_name }} {{ person.last_name }}">
                            {% endif %}
                            <h3>
                                {{ person.first_name }} {{ person.last_name }} <br/>
                                <small>
                                {% if person.position %}
                                    {{ person.position }}
                                {% endif %}
                                </small>
                            </h3>
                            <ul class="social-icons social-icons-color">
                                {% if person.email_address %}
                                    <li><a href="mailto:{{ person.email_address }}" data-original-title="email" class="email"></a></li>
                                {% endif %}
                                {% if person.osf_profile %}
                                    <li><a href="{{ person.osf_profile }}" data-original-title="osf" class="osf"></a></li>
                                {% endif %}
                                {% if person.linked_in %}
                                    <li><a href="{{ person.linked_in }}" data-original-title="Linkedin" class="linkedin"></a></li>
                                {% endif %}
                                {% if person.google_plus %}
                                    <li><a href="{{ person.google_plus }}" data-original-title="Google Plus" class="googleplus"></a></li>
                                {% endif %}
                                {% if person.github %}
                                    <li><a href="{{ person.github }}" data-original-title="GitHub" class="github"></a></li>
                                {% endif %}
                                {% if person.blog_url %}
                                    <li><a href="{{ person.blog_url }}" data-original-title="person" class="person"></a></li>
                                {% endif %}
                                {% if person.twitter %}
                                    <li><a href="{{ person.twitter }}" data-original-title="Twitter" class="twitter"></a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <style>
    .thumbnail {
        border: none;
        height:380px;
    }
    .thumbnail > img {
        border-radius: 256px !important;
        display:block;
        max-width:100%;
        max-height:250px;
    }
    </style>
{% elif value.displayStyle == 'concise-ambassador' %}
    <div class = "row front-team">
        <ul class="list-unstyled" id="whoWeAre">
        {% for person in people %}
            {% if value.tag in person.tags.names %}
                    <li class="col-md-4">
                        <div class="thumbnail">
                            {% if person.photo %}
                                {% image person.photo original as photo %}
                                <img src="{{ photo.url }}" alt="{{ person.first_name }} {{ person.last_name }}">
                            {% else %}
                                <img src="{% static 'anonymous.png' %}" alt="{{ person.first_name }} {{ person.last_name }}">
                            {% endif %}
                            <br>
                            <div align="center">
                                {{ person.first_name }} {{ person.last_name }}

                            </div>
                            <div align="center">
                                {% if person.position %}
                                    {{ person.position }}
                                {% endif %}
                            </div>

                        </div>
                    </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <style>
    .thumbnail {
        border: none;
        height:340px;
        max-width:220px;
    }
    .thumbnail > img {
        border-radius: 256px !important;
        display:block;
        max-width:100%;
        max-height:200px;
    }
    </style>
{% else %}
    <div id="linktoperson" class = "btn-group" role = "group"></div>
    {% for person in people %}
        {% if value.tag in person.tags.names %}
            <hr>
            <div class="row detailrow margin-bottom-30" id="{{ person.first_name }}{{ person.last_name }}">
                <div class="col-md-5">
                    <div class="board-thumbnail">
                        {% if person.photo %}
                            {% image person.photo original as photo %}
                            <img src="{{ photo.url }}" alt="{{ person.first_name }} {{ person.last_name }}">
                        {% else %}
                            <img src="{% static 'anonymous.png' %}" alt="{{ person.first_name }} {{ person.last_name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>
                        <div class = "name"> {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} </div>
                        <br>
                        {% if person.position %}
                            <small>{{ person.position }}</small>
                        {% endif %}
                    </h3>
                        {% if person.term %}
                            <h5>Term: {{ person.term }}</h5>
                        {% endif %}
                    <div class="row-fluid summary">
                        <div class="more">
                            {{ person.bio}}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
