{% load humanize %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% if value.displayChoice == 'sponsors' %}
    {% regroup donations|dictsortreversed:"date.year" by date.year as donations_year %}
    {% regroup inkinddonations by date.year as inkinddonations_year %}
    <div class="portlet box tabbable margin-top-50">
        <div class="portlet-body">
            <div class="portlet-tabs">
                <ul class="nav nav-tabs">
                    {% for do_year in donations_year %}
                        {% if forloop.first %}
                            <li class="active"><a href="#year_{{ do_year.grouper }}" data-toggle="tab">{{ do_year.grouper }}</a></li>
                        {% else %}
                            <li><a href="#year_{{ do_year.grouper }}" data-toggle="tab">{{ do_year.grouper }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for do_year in donations_year %}
                        {% if forloop.first %}
                            <div class="tab-pane active" id="year_{{ do_year.grouper }}">
                                {% for do in do_year.list|dictsortreversed:'amount' %}
                                <br>
                                <div class="row margin-bottom-30 donation-container">
                                    <div class="col-md-3 donator-image">
                                        <div class="block-image">
                                            <a href="{{ do.organization.url }}">{% image do.organization.logo max-225x145 %}</a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-9">
                                        <div class="block-rich_text">
                                            <div class="rich-text">
                                                <span class="med-font donator-info-block"><strong>{{ do.organization.name }}</strong></span><br>
                                                <strong class="donator-info-block">${{ do.amount|intcomma }}</strong><br>
                                                {{ do.thank_you_message|richtext }}<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div id="in-kind" class="margin-top-100">
                                    <h3><strong>In-Kind Donations</strong></h3>
                                    <p>These organizations helped us out by providing in-kind donations of goods and services.</p>
                                    {% for indo_year in inkinddonations_year %}
                                        {% if indo_year.grouper == do_year.grouper %}
                                            {% for indo in indo_year.list %}
                                                <div class="row margin-bottom-30 in-kind-donation">
                                                    <div class="col-md-3 donator-image">
                                                        <div class="block-image">
                                                            <a href="{{ indo.organization.url }}">{% image indo.organization.logo max-225x145 %}</a>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-md-9">
                                                        <div class="block-rich_text">
                                                            <div class="rich-text">
                                                                <span class="med-font"><strong>{{ indo.organization.name }}</strong></span><br>
                                                                {{ indo.thank_you_message|richtext }}<br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane" id="year_{{ do_year.grouper }}">
                                {% for do in do_year.list|dictsortreversed:'amount' %}
                                <br>
                                <div class="row margin-bottom-30 donation-container">
                                    <div class="col-md-3 donator-image">
                                        <div class="block-image">
                                            <a href="{{ do.organization.url }}">{% image do.organization.logo max-225x145 %}</a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-9">
                                        <div class="block-rich_text">
                                            <div class="rich-text">
                                                <span class="med-font donator-info-block"><strong>{{ do.organization.name }}</strong></span><br>
                                                <strong class="donator-info-block">${{ do.amount|intcomma }}</strong><br>
                                                {{ do.thank_you_message|richtext }}<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div id="in-kind" class="margin-top-100">
                                    <h3><strong>In-Kind Donations</strong></h3>
                                    <p>These organizations helped us out by providing in-kind donations of goods and services.</p>
                                    {% for indo_year in inkinddonations_year %}
                                        {% if indo_year.grouper == do_year.grouper %}
                                            {% for indo in indo_year.list %}
                                                <div class="row margin-bottom-30 in-kind-donation">
                                                    <div class="col-md-3 donator-image">
                                                        <div class="block-image">
                                                            <a href="{{ indo.organization.url }}">{% image indo.organization.logo max-225x145 %}</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="block-rich_text">
                                                            <div class="rich-text">
                                                                <span class="med-font"><strong>{{ indo.organization.name }}</strong></span><br>
                                                                {{ indo.thank_you_message|richtext }}<br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% for org in organizations %}
        {% if org.partner %}
            <br>
            <div class="row margin-bottom-30">
                <div class="col-md-3 donator-image">
                    <div class="block-image">
                        <a href="{{ org.url }}">{% image org.logo max-225x145 %}</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="block-rich_text">
                        <div class="rich-text">
                            <span class="med-font donator-info-block"><strong>{{ org.name }}</strong></span><br>
                            {{ org.introduction|richtext }}<br>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
