<style>

    .tabs-state {
        display: none;
    }

    .tabs {
        margin-top: 20px;
        overflow:hidden;
    }

    .tabs > label {
        float:left;
        display: block;
        padding: 8px 20px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid rgba(0,0,0,0);
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }

    {% for tab in value %}
        {% if forloop.last %}
            #s{{ forloop.counter }}-tab-state:checked ~ .tabs #s{{ forloop.counter }}-tab-label {
        {% else %}
            #s{{ forloop.counter }}-tab-state:checked ~ .tabs #s{{ forloop.counter }}-tab-label, 
        {% endif %}
    {% endfor %}
        border: 1px solid rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(0,0,0,0);
    }

    .panels {
        margin-bottom: 20px;
    }

    .panels .tab-panel {
        display: none;
        border-top: none;
    }

    {% for tab in value %}
        {% if forloop.last %}
            #s{{ forloop.counter }}-tab-state:checked ~ .panels #s{{ forloop.counter }}-tab-panel {
        {% else %}
            #s{{ forloop.counter }}-tab-state:checked ~ .panels #s{{ forloop.counter }}-tab-panel, 
        {% endif %}
    {% endfor %}
        display: block;
    }

</style>
<div>
    {% for tab in value %}
        <input id='s{{ forloop.counter }}-tab-state' class='tabs-state' type='radio' name='tabs-state' title='s{{ forloop.counter }}-tab' {% if forloop.first %}checked='checked' {% endif %}/>
    {% endfor %}
    
    <div class='tabs'>{% for tab in value %}
        <label id='s{{ forloop.counter }}-tab-label' for='s{{ forloop.counter }}-tab-state' class='tab'>{{ tab.name }}</label>
    {% endfor %}</div>
    
    <div class='panels'>{% for tab in value %}
        <div class='tab-panel' id='s{{ forloop.counter }}-tab-panel'>{{ tab.content }}</div>
    {% endfor %}</div>
    
</div>
