body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.content {
    flex: 1;
}

.footer {
    background-color: #555555;
    color: #dddddd;
    padding: 35px;
}

.appeal .topic {
    font-style: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.appeal .content {
    text-align: justify;
}

.caps {
    font-family: 'Raleway', sans-serif;
}

