
{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}

{% block body_class %} homepage {% endblock %}

{% block content %}
    <!-- If there is a hero, include it first -->
    {% for b in page.content %}
        {% if b.block_type == 'hero_block' %}
            {% include_block b%}
        {% endif %}
    {% endfor %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTAINER -->
        <div class="container margin-bottom-30 margin-top-50">
            {% for b in page.content %}
                {% if b.block_type == 'heading' %}
                    <h1><strong>{{ b.value }}</strong></h1>
                {% elif b.block_type == 'statement' %}
                    <p class="lead">{{ b.value}}</p>
                {% elif b.block_type == 'hero_block' %}
                    <!-- Pass, we already included it before -->
                {% else %}
                    {% include_block b %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              {# Have to specify content or it will just display the name of the footer #}
              {{ page.footer.content }}
            </div>
          </div>
        </div>
    </div>
{% endblock %}


