{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}

{% load bootstrap_tags %}

{% block body_class %} homepage {% endblock %}

{% block content %}
    <!-- If there is a hero, include it first -->
    {% for b in page.content %}
        {% if b.block_type == 'hero_block' %}
            {% include_block b%}
        {% endif %}
    {% endfor %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTAINER -->
        <div class="container margin-bottom-30 margin-top-50">
            <center>
                <h1>{{ page.title }}</h1>
                {{ page.intro|richtext }}
                <hr/>
          </center>
            <div class="form-horizontal">
                <form action="{% if self.action %} {{ self.action }} {% else %}{% pageurl page %}{% endif %}" method="POST">
                    {% csrf_token %}
                    {{ form|as_bootstrap_horizontal }}
                    {{ form.non_field_errors }}
                    <div class="btn-group-container form-actions">
                        <input type="submit" class="btn btn-success" id="btn-submit" name="submit"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              {# Have to specify content or it will just display the name of the footer #}
              {{ page.footer.content }}
            </div>
          </div>
        </div>
    </div>
{% endblock %}
