{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}

{% block body_class %} homepage {% endblock %}

{% block content %}
    <!-- If there is a hero, include it first -->
    {% for b in page.content %}
        {% if b.block_type == 'hero_block' %}
            {% include_block b%}
        {% endif %}
    {% endfor %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTAINER -->
        <div class="container margin-bottom-30 margin-top-50">
            <center>
                <h1>{{ page.title }}</h1>
                {{ page.intro|richtext }}
                <hr/>
            <div class="form-horizontal">
                <form action="{% pageurl page %}" method="POST">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.required %}required{% endif %}">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help-block">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="btn-group-container">
                        <input type="submit" class="btn btn-success" id="btn-submit" name="submit"></button>
                    </div>
                </form>
            </div>
          </center>
        </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              {# Have to specify content or it will just display the name of the footer #}
              {{ page.footer.content }}
            </div>
          </div>
        </div>
    </div>
{% endblock %}
