<!-- BEGIN HEADER -->
<div class="header navbar navbar-default navbar-default-top" id="blue-nav">
    <div class="container">
    <div class="row">
        <div class="navbar-header col-md-4">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN LOGO (you can use logo image instead of text)-->
            <a class="navbar-brand logo-v1" href="/">
                <img src="/media/images/cos_wide.original.png" id="logoimg" alt="COS logo">
            </a>
            <!-- END LOGO -->
        </div>

        <span class="visible-xs" data-bind="click : toggleSearch, css: searchCSS">
          <a class="osf-xs-search pull-right" style="padding-top: 12px">
            <span rel="tooltip" data-placement="bottom" title="Search OSF" class="fa fa-search fa-lg fa-inverse"></span>
          </a>
      </span>
    
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="navbar-collapse collapse col-md-7 col-md-offset-1 navbar-list" >
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="/about_mission">
                        About us
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/about_mission/">Our Mission</a></li>
                        <li><a href="/about_team/">Our Team</a></li>
                        <li><a href="/about_sponsors/">Our Sponsors</a></li>
                        <li><a href="/about_board/">Our Board</a></li>
                        <li><a href="/about_partners/">Our Partners</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="about.html">
                        Services
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://osf.io" target="_blank">Open Science Framework</a></li>
                        <li><a href="/journals">For Journals and Societies</a></li>
                        <li><a href="/top">TOP Guidelines</a></li>
                        <li><a href="/stats_consulting/">Training Services</a></li>
                        <li><a href="http://osf.io/meetings" target="_blank">OSF for Meetings</a></li>
                        <li><a href="/prereg">Preregistration Challenge</a></li>
                    </ul>
                </li>
                 <li class="dropdown 
                                     ">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="about.html">
                        Get Involved
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/involved_participate#tab_1">Ambassadors</a></li>
                        <li><a href="/involved_participate#tab_2">Research Institutions</a></li>
                        <li><a href="/involved_participate#tab_4">Scientists</a></li>
                        <li><a href="/involved_participate#tab_5">Developers</a></li>
                        <li><a href="/jobs">Jobs</a></li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="/communities/">Communities</a>
                </li>
                <li class="dropdown ">
                    <a href="/news/">News </a>
                </li>
                <li class="dropdown">
                    <a href="/contact/">Contact Us </a>
                </li>
                <li><a href="https://www.givinglibrary.org/organizations/center-for-open-science">Donate</a></li>

                <li >
                    <a id="searchIcon">
                        <span class="fa fa-search fa-lg"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="searchBar" style="display:none;">
        {% block search_box %}
            {% include "common/blocks/search_box.html" only %}
        {% endblock %}
    </div>
</div>
<script>

</script>
</div>
<!-- END HEADER -->
