{% extends "base.html" %} 

{% load wagtailcore_tags %} 
{% load wagtailcore_tags snippets %}

{% block body_class %} homepage {% endblock %} 

{% block content %}
        {% header %}
        <div class='content'>{% for b in page.content %}
                {% if b.block_type == 'heading' %}
                        <h1 class='caps'>{{ b.value }}</h1>
                {% else %}
                        {% include_block b %}
                {% endif %}
        {% endfor %}</div>
        {% footer %}
{% endblock %}
