{% extends "base.html" %} 

{% load wagtailcore_tags %} 
{% load wagtailcore_tags snippets %}

{% block body_class %} homepage {% endblock %} 

{% block content %}
        {% header %}
        <div class="page-container">
            <!-- BEGIN CONTAINER -->
                <div class="container min-hight margin-top-50">
                <!-- BEGIN OUR BOARD -->
                    <div class="row front-board">
                    <br>
                        <div class="col-md-12 col-sm-12">
                            {% for b in page.content %}
                                {% if b.block_type == 'heading' %}
                                    <h1><strong>{{ b.value }}</strong></h1>
                                {% else %}
                                    {% include_block b %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        {% footer %}
{% endblock %}
