{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}newsindexpage{% endblock %}

{% block content %}
    <div class="banner-container">
        <div class="banner-element">
            Help support open science today.
            <a href="/donate/" class="btn banner-button" onClick="ga('send', 'event', 'marketing', 'click', 'COS Donate Banner')">Donate Now</a>
        </div>
    </div>
    <div class="page-container">
        <!-- BEGIN CONTAINER -->
            <div class="container">
                <h1><strong>{{ page.title }}</strong></h1>
                <p class="lead">{{ page.statement }}</p>
                <div class="loading-msg text-center">
                    <div id="loader"></div>

                    <p>Loading news</p>
                </div>

                <div class="margin-bottom-20 grid" style="display: none">
                    {% include page_template %}
                </div>

            </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          {# Have to specify content or it will just display the name of the footer #}
          {{ page.footer.content }}
        </div>
      </div>
    </div>

{% endblock %}

{% block extra_js %}
<!-- END CORE PLUGINS -->

    <script type="text/javascript">

        $(window).load(function() {
            $('.loading-msg').hide();
            var grid = $('.grid').show().masonry({
                itemSelector: '.service-box-v1',
                columnWidth: '.service-box-v1',
                percentPosition: true,
            });
            grid.masonry();
            $('.service-box-v1').removeClass('hidden-box');
            grid.on('layoutComplete', function() {
                $('.service-box-v1').removeClass('hidden-box');
            });
        });

        var paginate_scroll_margin = 400;

        if ($(window).width() < 500) {
            paginate_scroll_margin = 1000;
        } else if ($(window).width() < 900) {
            paginate_scroll_margin = 800;
        }

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: paginate_scroll_margin,
            onCompleted: function(){
                var masonry = $('.grid').data('masonry');
                setTimeout(function() {
                    masonry.reloadItems();
                    masonry.layout();
                }, 200);
            }
        })
    </script>
    <style>
    .endless_container{
        display: none;
        position: absolute;
        bottom: 0;
    }
    .hidden-box {
        opacity: 0;
    }
    </style>


{% endblock %}
