{% extends "base.html" %} 

{% load wagtailcore_tags %} 
{% load wagtailcore_tags snippets %}
{% load wagtailimages_tags %}
{% load static %} 

{% block body_class %} homepage {% endblock %} 

{% block content %}
        {% header %}
        <div class="page-container">
            <!-- BEGIN CONTAINER -->
                <div class="container min-hight margin-top-50">
                <!-- BEGIN OUR BOARD -->
                    <div class="row front-board">
                    <br>
                        <div class="col-md-12 col-sm-12">
                            <h1><strong>{{ page.subtitle }}</strong></h1>
                            <div class="content-page">
                                <p class="lead">{{ page.statement }}</p>
                                {% if page.display_style == 'detail' %}
                                <div id="linktoperson" class = "btn-group" role = "group"></div>
                                <ul>{% for person in people %}
                                    {% person_detail person %}
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <ul class="list-unstyled">{% for person in people %}
                                    {% person_concise person %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% footer %}
        <script>
            var linkContainer = document.getElementById("linktoperson");
            var personList = document.getElementsByClassName("detailrow");
            for (i = 0; i < personList.length; i++){
                var individualLink = document.createElement("a");
                individualLink.href = '#'+personList[i].id;
                var individualBtn = document.createElement("button");
                individualBtn.type = "button";
                individualBtn.className = "btn btn-default";
                individualBtn.style.marginRight = '4px';
                individualBtn.innerHTML = personList[i].getElementsByClassName('name')[0].textContent;
                individualLink.appendChild(individualBtn);
                linkContainer.appendChild(individualLink);
            }
        </script>
        <script>
        $(document).ready(function() {
            // Configure/customize these variables.
            var lesstext = "less";
            var moretext = "more";


            $('.more').each(function() {
                var content = String($(this).html());
                var contentParts = content.split(/&lt;[a-z]*\/?[a-z]*&gt;/g);
                var pNums = contentParts.length;
                var foundFirstP = false;
                var foundMoreP = false;
                var html = "";
                console.log(content);
                for(var i = 0; i < pNums; i++) {
                    if (/\S/.test(contentParts[i])) {
                        if (!foundFirstP) {
                            var firstP = contentParts[i];
                            html = '<div><p>' + firstP + '</p></div>';
                            foundFirstP = true;
                        }
                        else {
                            if(!foundMoreP){
                                html = html + '<div style="display:none;">';
                                foundMoreP = true;
                            }
                            else {
                                html = html + '<p>' + contentParts[i] + '</p>';
                            }
                        }
                    }
                }

                if(foundMoreP){
                    html = html + '</div><div><a href="" class="morelink">' + moretext + '</a></div>';
                }
                html = html + '</div>';
                $(this).html(html);

            });

            $(".morelink").click(function(){
                if($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                return false;
            });
        })
        </script>
{% endblock %}
