{% load wagtailimages_tags %}
{% load static %}


<li class="col-md-3 space-mobile">
  <div class="thumbnail">
    {% if person.photo %}
        {% image person.photo original as photo %}
        <img src="{{ photo.url }}" alt="{{ person.first_name }} {{ person.last_name }}">
    {% else %}
        <img src="{% static 'anonymous.png' %}" alt="{{ person.first_name }} {{ person.last_name }}">
    {% endif %}
        {%for block in person.other_info%}
        {% if block.block_type == 'position' %}
        <h3>
          {{ person.first_name }} {{ person.last_name }} <br/>
          <small>{{ block.value }}</small>
        </h3>
        {% endif %}
        {% endfor %}
        <ul class="social-icons social-icons-color">
          {%for block in person.other_info%}
          {% if block.block_type == 'email_address'%}
          <li><a href="{{block.value}}" data-original-title="email" class="email"></a></li>
          {% endif %}
          {% if block.block_type == 'osf_profile'%}
          <li><a href="{{block.value}}" data-original-title="osf" class="osf"></a></li>
          {% endif %}
          {% if block.block_type == 'linked_in'%}
          <li><a href="{{block.value}}" data-original-title="Linkedin" class="linkedin"></a></li>
          {% endif %}
          {%endfor%}
        </ul>
  </div>
</li>
<style>
 .thumbnail {
   border: none;
 }
 .thumbnail > img {
   border-radius: 256px !important;
 }
</style>
