{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags snippets %}


{% block content %}
    <div class="page-container">
        <div class="banner-container">
            <div class="banner-element">
                Help support open science today.
                <a href="/donate/" class="btn banner-button" onClick="ga('send', 'event', 'marketing', 'click', 'COS Donate Banner')">Donate Now</a>
            </div>
        </div>
        <!-- BEGIN CONTAINER -->
        <div class="container">
            {% include 'blog/blog_post.html' with blog=self %}
            {% if COMMENTS_APP == 'django_comments_xtd' %}
                {% include 'blog/blog_post_comments_xtd.html' with blog=self %}
            {% endif %}
        </div>
        <div class="footer">
          <div class="container">
            {# Have to specify content or it will just display the name of the footer #}
            {{ page.footer.content }}
          </div>
        </div>
    </div>
{% endblock %}
