{% extends "base.html" %}

{% load mezzanine_tags %}
{% load staticfiles %}
{% block title %}{{ page.richtextpage.title }}{% endblock %}



{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}


{% block content %}
    <div class="page-container">
        <div class="container  margin-bottom-40 margin-top-50">
            <div class="col-md-12 col-sm-12">
                {{ block.super }}
                <h1><strong>{{ page.richtextpage.title }}</strong></h1>
                {% editable page.richtextpage.content %}
                {{ page.richtextpage.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript_bottom %}
            <script type="text/javascript" src="{% static 'bower_components/fancybox/source/jquery.fancybox.pack.js' %}"></script>
            <script src="{% static 'bower_components/mixitup/src/jquery.mixitup.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap-table/src/bootstrap-table.js' %}"></script>
{% endblock %}