{% extends "base.html" %}{% load staticfiles %}
{% block title %}Google Login{% endblock %}

{% block stylesheets %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}

<div class="container margin-horiz-20">
    <div class="row">
        <div class="col-md-12">
            <h1>Google Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>Log in to your Mezzanine Admin account here to allow Google authentication with your COS admin account</p>
        </div>
    </div>
</div>

<div class="container margin-horiz-20">
    <div class="row">
        <div class="col-md-12">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container margin-horiz-20">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        <div class="row form-row">
            <div class="col-md-4 col-md-offset-2">
                   {{ form.username.label_tag }}
                    {{ form.username }}
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-8 col-md-offset-2">
                    {{ form.password.label_tag }}
                    {{ form.password }}
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-8 col-md-offset-2">
                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="/accounts/confirm/">
            </div>
        </div>
    </form>
</div>


{% endblock %}
